{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'github/user/detail.js' %}"></script>
{% endblock %}

{% block bootstrap3_content %}
    <div class="container">
        <h1 class="page-header">{{ user.login }}
            <button class="btn btn-default" onclick="refresh('{% url 'refresh_user' user.login %}')"><i
                    class="fa fa-refresh"></i></button>
        </h1>

        <div class="row">
            <div class="col-md-3">
                <img width="230" height="230" src="{{ user.avatar }}&amp;s=460" class="avatar" alt="">

                <h3>{{ user.name }}</h3>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">following({{ user.following_count }})
                                <button class="btn btn-default"
                                        onclick="refresh('{% url 'refresh_user_following' user.login %}')"><i
                                        class="fa fa-refresh"></i></button>
                            </div>
                            <ul class="list-group">
                                {% for following in user.following.all %}
                                    <li class="list-group-item"><a
                                            href="{% url 'user_detail' following.login %}">{{ following.login }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">starred
                                <button class="btn btn-default"
                                        onclick="refresh('{% url 'refresh_user_starred' user.login %}')"><i
                                        class="fa fa-refresh"></i></button>
                            </div>
                            <ul class="list-group">
                                {% for starred in user.githubrepo_set.all|dictsortreversed:"stargazers_count" %}
                                    <li class="list-group-item">
                                        <a href="">{{ starred.full_name }}</a>
                                        <span class="pull-right">{{ starred.stargazers_count }}<i
                                                class="fa fa-star"></i></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">repositories <i class="fa fa-refresh"></i></div>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">contributed to <i class="fa fa-refresh"></i></div>
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}